/*Limpar formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em; /* Equivale a 16 px*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

/* ******Layout******* */

#cabeçalho{
    background-color:#00BFFF;
    padding: 15px;
    text-align: center;
}

#logo , #menu{
    padding: 10px;
}

/* ******Formatações Gerais******* */

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}
