/*Limpar formatações padrão*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em; /* Equivale a 16 px*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e6e6e6;
}

/* ******Layout******* */

#cabeçalho{
    background-color:#00BFFF;
    padding: 15px;
    text-align: center;
    
}

#logo , #menu{
    padding: 10px;
}
/* ******Formatação dos Links******* */

a{
    text-decoration: none;
}

 a:link, a:visited {
    color: #00BFFF;;

}

a:hover{
    text-decoration: underline;
    
}

#cabeçalho a:link,  #cabeçalho a:visited {
    color:white;
    padding: 8px;
}

#cabeçalho a:hover{
    color: #00BFFF;
    background-color: white;
    text-decoration: none;
    
}


/* ******Formatações Gerais******* */

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #00BFFF;
}

.branco{
    color: white;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

/* ******Area de postagens********/

#principal{
    width: 920px;
    margin: 0px auto;
    border: solid gold;
    padding: 15px;
}

#postagem{
    width: 660px;
    border: solid red;
    float: left;
}

#lateral{
    width: 240px;
    border: solid blue;
    float: right;
    background-color: blue;
}

#rodape{
    padding: 15px;
    text-align: center;
    clear: both;
    background-color: #CCC;
}

/* ****Formatação da Postagem 1**** */

.postagem1{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    
}

